/*로그인 완료 시 로그인폼을 숨기기 위한 클래스*/
.hidden {
  display: none;
}

.line {
  text-decoration: line-through;
}

.noDot {
  list-style-type: none;
}

.footer {
  position: fixed;
  top: 95%;
  width: 100%;
}

body {
  background-size: cover;
}

body:first-of-type {
  font-size: 40px;
  font-family: fantasy;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px black;
}

ul {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
